:root {
    --dark-pink: #880e4f;
    --light-pink: #ffe6ee;
    --light-green: #20b2aa;
    --black: #000;
    --white: #fff;
}

/* font for the entire application */
.special-elite-regular {
    font-family: "Special Elite", serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* styles for the main body of the application */
body {
    background-color: var(--light-pink);
    font-family: "Special Elite";
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
 
main {
    flex: 1 0 auto;
  }

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.631);

}

.flashes h4 {
    line-height: 2;
}

.page-footer {
    background-color: var(--dark-pink);
}

/* styles for the buttons */
.btn-small {
    margin: 5px;
    border-radius: 5px;
}

.btn-large {
    border-radius: 10px;
    font-family: "Special Elite";
}

.edit {
    background-color: var(--black);
}

.delete {
    background-color: var(--light-green);
}

.login {
    background-color: var(--dark-pink);
}

.reset {
    background-color: var(--dark-pink);
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}

.search {
    background-color: var(--black);
    margin-bottom: 10px;
}

.btn {
    font-family: "Special Elite";
}

/* styles for the card panels */

.card-panel {
    border-radius: 10px;
}

.card {
    background-color: var(--dark-pink);
    border-radius: 10px;
}

.collapsible-header {
    display: flex;
    border-radius: 10px;
    background-color: var(--dark-pink);
    border-bottom: 1px solid;
    padding: 8px;
    line-height: 1.5;

}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.collapsible-body {
    border-radius: 10px;
    background-color: var(--white);
}

.collapsible li {
    border-radius: 10px;
}

/* styles for the nav bar and sidebar menus */
nav .workout-title {
    position: absolute;
    display: inline-block;
}

.nav-extended {
    background-color: var(--dark-pink);
}

.sidenav {
    background-color: var(--dark-pink);
}

.sidenav li {
    color: white;
}

.sidenav li a {
    color: white;
}

/* styles for the icons on the application */
.icon, .user {
    color: var(--dark-pink);
}