.special-elite-regular {
    font-family: "Special Elite", serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    background-color: #ffe6ee;
    font-family: "Special Elite";
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
 
main {
    flex: 1 0 auto;
  }

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}

flashes h4 {
    line-height: 2;
}

.btn-large {
    border-radius: 10px;
    font-family: "Special Elite";
}

.card-panel {
    border-radius: 10px;
}

.collapsible-header {
    display: flex;
    border-radius: 10px;
    background-color: #de5d83;
    border-bottom: 1px solid;
    padding: 8px;
    line-height: 1.5;

}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}


.collapsible-body {
    border-radius: 10px;
}

.collapsible li {
    border-radius: 10px;
}

nav .workout-title {
    position: absolute;
    display: inline-block;
}

.nav-extended {
    background-color: #de5d83;
}

.sidenav {
    background-color: #de5d83;
}

.sidenav li {
    color: white;
}

.sidenav li a {
    color: white;
}

.btn-small {
    margin: 5px;
    border-radius: 5px;
}

.card {
    background-color: #de5d83;
    border-radius: 10px;
}

.icon {
    color: #de5d83;
}

.login {
    background-color: #de5d83;
}



.edit {
    background-color: #ffb6c1;
    color: black;
}

.delete {
    background-color: black;
}

.btn {
    font-family: "Special Elite";
}

.page-footer {
    background-color: #de5d83;
}

