.special-elite-regular {
    font-family: "Special Elite", serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    background-color: #ffe6ee;
    font-family: "Special Elite"
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}

flashes h4 {
    line-height: 2;
}

.btn-large {
    border-radius: 10px;
}

.card-panel {
    border-radius: 10px;
}

.collapsible-header {
    border-radius: 10px;
    background-color: #ffb6c1;
}

.collapsible-body {
    border-radius: 10px;
}

.nav-extended {
    background-color: #de5d83;
}

.sidenav {
    background-color: #de5d83;
}

.sidenav li {
    color: white;
}

.sidenav li a {
    color: white;
}