{% extends "base.html" %}
{% block content %}


<div class="row">
    <divclass="col s12 m8 offset-m2">
      <div class="card-panel">
        <h3 class="center-align">
            {{ username }}'s Profile
        </h3>
      </div>
    </div>
</div>

<div class="row">
  <div class="col s12 m8 offset-m2">
    <h3 class="center-align">
      Stay Tuned!
    </h3>
  </div>
</div>
<div class="card-panel center-align">
  <h5>We're working hard at WorkoutCrew to bring you more features.</h5>
  <p>Future updates include your profile featuring your added workouts and more!</p>
  <p>If you have any suggestions, please email 'admin@workoutcrew.com'</p>
</div>

{% endblock %}